<button type="submit" class={{@classNames}} disabled={{@loading}}>
  {{#if @loading}}
    {{#if @textLoading}}{{@textLoading}}{{else}}{{yield}}{{/if}}
    <LoadingSpinner @position="right" />
  {{else}}
    {{yield}}
  {{/if}}
</button>