<h1>Space Setting</h1>

<form {{on "submit" (fn this.save)}} name="add-space">
  <p>
    <Input @value={{this.space.protocol}} required="required" placeholder="IRC" />
  </p>
  <p>
    <Input @value={{this.space.name}} required="required" placeholder="Freenode" />
  </p>
  <p>
    <Input @value={{this.space.server.hostname}} required="required" placeholder="irc.servername.org" />
  </p>
  <p>
    <Input @value={{this.space.server.port}} required="required" placeholder="6667" />
  </p>
  <p>
    <Input @type="checkbox" @checked={{this.space.server.secure}} id="tls-enabled-modal" />
    <label for="tls-enabled-modal">Secure (TLS)</label>
  </p>
  <p>
    <Input @value={{this.space.server.username}} placeholder="username" />
  </p>
  <p>
    <Input @type="password" @value={{this.space.server.password}} placeholder="password" />
  </p>
  <p>
    <Input @value={{this.space.server.nickname}} required="required" placeholder="nickname" />
  </p>
  <p>
    <input type="submit" value="Save">
  </p>
</form>

<button {{on "click" (fn this.cancel)}} type="button">Cancel</button>
