<section id="new-message" class="py-0 px-4"
         {{will-destroy this.unbindKeyboardShortcuts}}>
  <form {{on "submit" @sendMessage}}>
    <ChannelInputField @value={{@message}}
                       @placeholder="Type a message and hit enter"
                       @name="chat-message"
                       @id="message-field"
                       @autocomplete="off"
                       @classNames="w-full p-0 border-none"
                       {{on "focusin" this.bindKeyboardShortcuts}}
                       {{on "focusout" this.unbindKeyboardShortcuts}} />
  </form>
</section>
