<div class="chat-message">
  <span class="chat-message__username"
        data-username={{@message.nickname}}
        onclick={{fn this.usernameClick @message.nickname}}>
    {{@message.nickname}}:
  </span>

  <time class="chat-message__date" datetime={{this.datetime}} title={{this.dateTitle}}>
    {{moment-format @message.date "HH:mm"}}
  </time>

  <span class="chat-message__message">
    {{this.formattedContent}}
  </span>
</div>
