<div class="chat-message break-words">
  <span data-username={{@message.nickname}}
        onclick={{fn this.usernameClick @message.nickname}}
        class="mr-1 font-bold" >
    {{@message.nickname}}:
  </span>

  <time datetime={{this.datetime}} title={{this.dateTitle}}
        class="block float-right text-sm text-gray-300" >
    {{moment-format @message.date "HH:mm"}}
  </time>

  <span class="chat-message__message">
    {{this.formattedContent}}
  </span>
</div>
