<section id="user-list" class="main py-6" {{did-update this.usersChanged @users}}>
  {{#if @users}}
    <h2 class="px-4 mb-2 text-xs uppercase opacity-80">{{@users.length}} Online</h2>
  {{/if}}
  <ul>
    {{#each this.renderedUsers as |username|}}
      {{#if @allowUserChannels}}
        <li><LinkToUsername @username={{username}} /></li>
      {{else}}
        <li><a>{{username}}</a></li>
      {{/if}}
    {{/each}}

    <li class="last-element"></li>
    <ScrollingObserver @rootElement="#user-list"
                       @rootMargin="200px"
                       @enabled={{this.partialRenderingEnabled}}
                       @onIntersect={{this.increaseRenderedUsersCount}} />
  </ul>
</section>
