<section id="user-list" class="main" {{did-update this.usersChanged @users}}>
  {{#if @users}}
    <h2>{{@users.length}} Online</h2>
  {{/if}}
  <ul>
    {{#each this.renderedUsers as |username|}}
      <li><LinkToUsername @username={{username}} /></li>
    {{/each}}

    <li class="last-element"></li>
    <ScrollingObserver @rootElement="#user-list"
                       @rootMargin="200px"
                       @enabled={{this.partialRenderingEnabled}}
                       @onIntersect={{fn this.increaseRenderedUsersCount}} />
  </ul>
</section>
