<ul {{did-insert this.bindKeyboardShortcuts}}
    {{will-destroy this.unbindKeyboardShortcuts}}
    class="pt-6">
  {{#each this.coms.groupedChannelsByDomain as |subspace|}}
    <li class="block relative width-full mb-6">
      <h3 class="px-4 mb-2 text-sm opacity-80">{{subspace.domain}}</h3>
      <ul>
        {{#each subspace.channels as |channel|}}
          <li class="channel {{if channel.connected "connected" "disconnected"}} {{channel.unreadMessagesClass}} {{if channel.visible "active" ""}}">
            {{#if channel.isUserChannel}}
              <LinkTo @route="user-channel" @model={{channel}}>{{channel.name}}</LinkTo>
            {{else}}
              <LinkTo @route="channel" @model={{channel}}>#&thinsp;{{channel.shortName}}</LinkTo>
            {{/if}}
            <a {{on "click" (fn @onLeaveChannel channel)}} class="leave-channel" title="Leave {{channel.name}}">x</a>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
<p>
  <a {{on "click" this.joinChannel}} class="join-channel" role="button">+</a>
</p>
