{{#each spaces as |space|}}
  <li>
    <h2>{{#link-to "space" space}}{{space.name}}{{/link-to}}</h2>
    <ul>
    {{#each space.channels as |channel|}}
      <li class="{{if channel.connected "connected" "disconnected"}}">
        {{#if channel.isUserChannel}}
          {{#link-to "space.userChannel" space channel}}{{channel.name}}{{/link-to}}
        {{else}}
          {{#link-to "space.channel" space channel}}{{channel.name}}{{/link-to}}
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </li>
{{/each}}
