{{#each spaces as |space|}}
  <li>
    <h2>{{#link-to "space" space}}{{space.name}}{{/link-to}}</h2>
    <ul>
      {{#each space.sortedChannels as |channel|}}
        <li class="{{if channel.connected "connected" "disconnected"}} {{channel.unreadMessagesClass}}">
          {{#if channel.isUserChannel}}
            {{#link-to "space.user-channel" space channel}}{{channel.name}}{{/link-to}}
          {{else}}
            {{#link-to "space.channel" space channel}}{{channel.name}}{{/link-to}}
          {{/if}}
        </li>
      {{/each}}
      <li>
        <a {{action (action joinChannel space)}} class="join-channel" role="button">+</a>
      </li>
    </ul>
  </li>
{{/each}}
