<ul {{did-insert this.bindKeyboardShortcuts}}
    {{will-destroy this.unbindKeyboardShortcuts}}>
  <li>
    {{#each this.coms.groupedChannelsByDomain as |subspace|}}
      <h3>{{subspace.domain}}</h3>
      <ul>
        {{#each subspace.channels as |channel|}}
          <li class="{{if channel.connected "connected" "disconnected"}} {{channel.unreadMessagesClass}} {{if channel.visible "active" ""}}">
            {{#if channel.isUserChannel}}
              <LinkTo @route="user-channel" @model={{channel}}>{{channel.name}}</LinkTo>
            {{else}}
              <LinkTo @route="channel" @model={{channel}}>#&thinsp;{{channel.shortName}}</LinkTo>
            {{/if}}
            <a {{on "click" (fn @onLeaveChannel channel)}} class="leave-channel" title="Leave {{channel.name}}">x</a>
          </li>
        {{/each}}
      </ul>
    {{/each}}
    <a {{on "click" (fn this.joinChannel)}} class="join-channel" role="button">+</a>
  </li>
</ul>
