<ul {{did-insert this.didInsertNode}} {{will-destroy this.willDestroyNode}}>
  {{#each this.spaces as |space|}}
    <li>
      <h2><LinkTo @route="space" @model={{space}}>{{space.name}}</LinkTo></h2>
      <ul>
        {{#each space.sortedChannels as |channel|}}
          <li class="{{if channel.connected "connected" "disconnected"}} {{channel.unreadMessagesClass}} {{if channel.visible "active" ""}}">
            {{#if channel.isUserChannel}}
              <LinkTo @route="space.user-channel" @models={{array space channel}}>{{channel.name}}</LinkTo>
            {{else}}
              <LinkTo @route="space.channel" @models={{array space channel}}>{{channel.name}}</LinkTo>
            {{/if}}
            <a {{on "click" (fn @onLeaveChannel space channel)}} class="leave-channel" title="Leave {{channel.name}}">x</a>
          </li>
        {{/each}}
        <li>
          <a {{on "click" (fn this.joinChannel space)}} class="join-channel" role="button">+</a>
        </li>
      </ul>
    </li>
  {{/each}}
</ul>
