<div class="mb-10 border-b border-gray-200">
  <nav class="tabs -mb-px flex" aria-label="Account type">
    <button class={{if (eq this.accountType "xmpp") "active"}} type="button"
            {{on "click" (fn this.chooseAccountType "xmpp")}}>
      XMPP
    </button>
    <button class={{if (eq this.accountType "irc") "active"}} type="button"
      {{on "click" (fn this.chooseAccountType "irc")}}>
      IRC
    </button>
  </nav>
</div>

{{component (concat "add-chat-account-" this.accountType)}}