<p>
  <i>username:</i> {{@username}}<br>
  <i>base URL:</i> {{this.webPushBaseURL}}
</p>
<p>
  {{#if this.subscribed}}
    <button {{on "click" this.unsubscribe}} type="button">Disable push notifications</button>
  {{else}}
    <button {{on "click" this.subscribe}} type="button">Receive push notifications</button>
  {{/if}}
</p>