<p>
  <i>username:</i> {{username}}<br>
  <i>base URL:</i> {{webPushBaseURL}}
</p>
<p>
  {{#if subscribed}}
    <button {{action "unsubscribe"}} type="button">Disable push notifications</button>
  {{else}}
    <button {{action "subscribe"}} type="button">Receive push notifications</button>
  {{/if}}
</p>