<main>
  <header>
    <h2 id="channel-name">{{channel.name}}</h2>
    <p id="channel-title">{{channel.topic}}</p>
    <nav>
      <a href="#"><i class="icon-megaphone"></i></a><a href="#"><i class="icon-mute"></i></a>
    </nav>
  </header>

  <section id="channel-content" class="main">
  <ul>
    {{#each channel.messages as |message|}}
      <li>
        {{component message.type message=message}}
      </li>
    {{/each}}
    <!--
    <li>
      <div class="chat-message user-raucao">
        <span class="username" data-username="silverbucket">silverbucket</span>
        <span class="message">you're already here?!</span>
      </div>
    </li>
    -->
  </ul>
  </section>

  <footer>
    <section id="new-message">
      <form {{action "processMessageOrCommand" on="submit"}}>
        {{channel-input-field value=newMessage
                              placeholder="Type a message and hit enter"
                              name="chat-message"
                              id="message-field"
                              autocomplete="off"}}
      </form>
    </section>
  </footer>
</main>

<aside>
  <header>
    <nav>
      {{#link-to 'index' class='active'}}<i class="icon-users"></i>{{/link-to}}<a href="#"><i class="icon-paperclip"></i></a>{{#link-to 'settings'}}<i class="icon-cog"></i>{{/link-to}}<a href="#"><i class="icon-resize-enlarge"></i></a>
    </nav>
  </header>
  <section id="user-list" class="main">
    <ul>
      {{#each channel.userList as |username|}}
        <li>{{#link-to 'space.userChannel' username}}{{username}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </section>
</aside>
