<main>
  <header id="channel-header">
    <h2 id="channel-name"
        class={{if this.channel.connected "connected" "disconnected"}}
        {{action "menu" "global" "toggle"}}>
      {{this.channelname}}
    </h2>
    <p id="channel-title">
      {{this.channelformattedTopic}}
    </p>
    <nav>
      <LinkTo @route="index" class="active"><IconUsers /></LinkTo><a><IconPaperclip /></a><a><IconSettings /></a><a {{action "leaveChannel" this.space this.channel}} title="Leave {{this.channelname}}"><IconLogOut /></a>
    </nav>
  </header>

  <div class="content-container">
    <div class="content">
      <section id="channel-content" class="main">
        {{#if this.channel.isLogged}}
          <a onclick={{perform loadPreviousMessages}} class="load-previous" role="button">
            Load previous messages
          </a>
        {{/if}}

        <ul>
          <li>
            {{scrolling-observer rootElement="#channel-content"
                                 rootMargin=this.partialRenderingObserverMargin
                                 enabled=this.partialRenderingEnabled
                                 onIntersect=(action "increaseRenderedMessagesCount")}}
          </li>
          {{#each this.renderedMessages as |message|}}
            <li>
              {{component message.type message=message
                          onUsernameClick=(action "addUsernameMentionToMessage")}}
            </li>
          {{else}}
            {{#if this.channel.isLogged}}
              <li class="no-messages discreet">No recent messages to display.</li>
            {{else}}
              <li class="no-messages discreet">No Kosmos logs configured for this channel. <a href="https://wiki.kosmos.org/Setting_up_channel_logs" target="_blank" rel="noopener noreferrer">Learn more</a></li>
            {{/if}}
          {{/each}}
          <li>
            {{scrolling-observer rootElement=this.element
                                 rootMargin="0px"
                                 threshold=1
                                 retriggeringEnabled=false
                                 onIntersect=(action "setAutomaticScrolling" true)
                                 onDiverge=(action "setAutomaticScrolling" false)}}
          </li>
        </ul>
      </section>

      <footer>
        <MessageInput @message={{this.newMessage}}
                      @onSend={{action "processMessageOrCommand"}}
                      @usernames={{this.channel.userList}} />
      </footer>
    </div>

    <aside>
      <UserList @users={{this.channel.sortedUserList}} />
    </aside>
  </div>
</main>
