<div id="channel" {{did-insert this.scheduleOnAfterRender}}
                  {{did-update this.channelChanged @channel}}>
  <main>
    <header id="channel-header">
      <h2 id="channel-name"
          class={{if @channel.connected "connected" "disconnected"}}
          {{on "click" (fn this.menu "global" "toggle")}}>
        {{@channel.name}}
      </h2>
      <p id="channel-title">
        {{@channel.formattedTopic}}
      </p>
      <nav id="channel-nav">
        <LinkTo @route="space.channel.index" @models={{array @space @channel}} {{on "click" (fn this.menu "channel" "show")}}>
          <IconUsers />
        </LinkTo>
        <LinkTo @route="space.channel.shares" @models={{array @space @channel}} {{on "click" (fn this.menu "channel" "show")}}>
          <IconPaperclip />
        </LinkTo>
        <LinkTo @route="space.channel.settings" @models={{array @space @channel}} {{on "click" (fn this.menu "channel" "show")}}>
          <IconSettings />
        </LinkTo>
        <a {{on "click" (fn this.leaveChannel @space @channel)}} title="Leave {{@channel.name}}">
          <IconLogOut />
        </a>
      </nav>
    </header>

    <div class="content-container {{@sidebarClass}} {{if @showChannelMenu "channel-menu-open"}}">
      <div class="content">
        <section id="channel-content" class="main">
          {{#if @channel.isLogged}}
            <a onclick={{perform this.loadPreviousMessages}} class="load-previous" role="button">
              Load previous messages
            </a>
          {{/if}}

          <ul>
            <li>
              <ScrollingObserver @rootElement="#channel-content"
                                 @rootMargin={{this.partialRenderingObserverMargin}}
                                 @enabled={{this.partialRenderingEnabled}}
                                 @onIntersect={{fn this.increaseRenderedMessagesCount}} />
            </li>
            {{#each this.renderedMessages as |message|}}
              <li {{did-insert this.messagesUpdated}}>
                {{component message.type message=message
                            onUsernameClick=(fn this.addUsernameMentionToMessage)}}
              </li>
            {{else}}
              {{#if @channel.isLogged}}
                <li class="no-messages discreet">No recent messages to display.</li>
              {{else}}
                <li class="no-messages discreet">No Kosmos logs configured for this channel. <a href="https://wiki.kosmos.org/Setting_up_channel_logs" target="_blank" rel="noopener noreferrer">Learn more</a></li>
              {{/if}}
            {{/each}}
            <li>
            <ScrollingObserver @rootElement="#channel"
                               @rootMargin="0px"
                               @threshold={{1}}
                               @retriggeringEnabled={{false}}
                               @onIntersect={{fn this.setAutomaticScrolling true}}
                               @onDiverge={{fn this.setAutomaticScrolling false}} />
            </li>
          </ul>
        </section>

        <footer>
          <MessageInput @message={{@newMessage}}
                        @sendMessage={{fn this.processMessageOrCommand}}
                        @usernames={{@channel.userList}} />
        </footer>
      </div>

      <aside id="channel-sidebar">
        {{yield}}
      </aside>
    </div>
  </main>
</div>
