<AppContainer @showGlobalMenu={{showGlobalMenu}} @showChannelMenu={{showChannelMenu}}>
  <div id="global">
    <header id="sitename">
      <h1>Kosmos</h1>
    </header>

    <div class="main">
      <nav id="channels">
        <ChannelNav @spaces={{spaces}} @onLeaveChannel={{route-action "leaveChannel"}} />
      </nav>
    </div>

    <footer>
      <nav>
        <LinkTo @route="settings"><IconSettings /></LinkTo>
      </nav>
    </footer>
  </div>

  {{outlet}}
</AppContainer>

<ModalTarget />
