{{#if this.coms.onboardingComplete}}

  <div class="app-container {{if this.showGlobalMenu "global-menu-open"}} {{if this.showChannelMenu "channel-menu-open"}}"
       {{recognize-gesture "swipeleft" "swiperight" "tap" domEvents=true touchAction="auto" inputClass=this.hammerInputClass}}
       {{on "swipeleft" this.swipeLeft}} {{on "swiperight" this.swipeRight}} {{on "tap" this.tap}}>
    <div id="global">
      <header id="sitename">
        <h1>Kosmos</h1>
      </header>

      <div class="main">
        <nav id="channels">
          <ChannelNav @onLeaveChannel={{route-action "leaveChannel"}} />
        </nav>
      </div>

      <footer>
        <nav>
          <button {{on "click" this.openSettingsModal}}><IconSettings /></button>
        </nav>
      </footer>
    </div>

    {{outlet}}
  </div>

{{else}}

  {{outlet}}

{{/if}}

{{#if this.showSettingsModal}}
  <ToElsewhere @named="modal"
               @send={{hash body=(component "settings-container" onCancel=(fn (mut this.showSettingsModal) false))
                            onOutsideClick=(fn (mut this.showSettingsModal) false)}} />
{{/if}}

<ModalTarget />
