<section id="settings">
  <h2>Settings</h2>

  <div class="content">
    <h3>Spaces</h3>

    {{#each this.model.spaces as |space|}}
      <h3>{{space.name}}</h3>
      <button type="button" {{on "click" (fn this.removeSpace space)}}>delete</button>
      <hr>
    {{/each}}

    <h3>Presets</h3>

    {{#each this.model.spacePresets as |spacePreset|}}
      <h3>{{spacePreset.name}}</h3>
      <button type="button" {{on "click" (fn this.addSpaceFromPreset spacePreset)}}>add</button>
      <hr>
    {{/each}}

    <h3>Add new space</h3>
    <form {{on "submit" this.addSpace}} name="add-space">
      <p>
        <Input @value={{this.newSpace.name}} required="required" placeholder="Freenode" />
      </p>
      <p>
        <Input @value={{this.newSpace.server.hostname}} required="required" placeholder="irc.servername.org" />
      </p>
      <p>
        <Input @value={{this.newSpace.server.port}} required="required" placeholder="6667" />
      </p>
      <p>
        <Input @type="checkbox" @checked={{this.newSpace.server.secure}} @id="tls-enabled" />
        <label for="tls-enabled">Secure (TLS)</label>
      </p>
      <p>
        <Input @value={{this.newSpace.server.username}} placeholder="username" />
      </p>
      <p>
        <Input @type="password" @value={{this.newSpace.server.password}} placeholder="password" />
      </p>
      <p>
        <Input @value={{this.newSpace.server.nickname}} required="required" placeholder="nickname" />
      </p>
      <p>
        <input type="submit" value="Save">
      </p>
    </form>

  </div>
</section>

{{#if this.showSpaceSettingModal}}
  <ToElsewhere @named="modal"
               @send={{hash body=(component "space-setting-modal"
                              settings=this.selectedSpacePreset
                              onSave=(fn "saveSpace")
                              onCancel=(fn (mut this.selectedSpacePreset) null))
               onOutsideClick=(fn (mut this.selectedSpacePreset) null)}} />
{{/if}}
