<section id="settings">
  <h2>Settings</h2>

  <div class="content">
    <h3>Spaces</h3>

    {{#each model.spaces as |space|}}
      <h3>{{space.name}}</h3>
      <button {{action "removeSpace" space}}>delete</button>
      <hr>
    {{/each}}

    <h3>Presets</h3>

    {{#each model.spacePresets as |spacePreset|}}
      <h3>{{spacePreset.name}}</h3>
      <button {{action "addSpaceFromPreset" spacePreset}}>add</button>
      <hr>
    {{/each}}

    <h3>Add new space</h3>
    <form {{action "addSpace" on="submit"}} name="add-space">
      <p>
        {{input value=newSpace.name required="required" placeholder="Freenode"}}
      </p>
      <p>
        {{input value=newSpace.server.hostname required="required" placeholder="irc.servername.org"}}
      </p>
      <p>
        {{input value=newSpace.server.port required="required" placeholder="6667"}}
      </p>
      <p>
        {{input type="checkbox" checked=newSpace.server.secure id="tls-enabled"}}
        <label for="tls-enabled">Secure (TLS)</label>
      </p>
      <p>
        {{input value=newSpace.server.nickname required="required" placeholder="nickname"}}
      </p>
      <p>
        <input type="submit" value="Save">
      </p>
    </form>

  </div>
</section>
